@using LawFirmTemplate.Models.User;
@model UserIndexViewModel



<form asp-action="Login" asp-controller="User" method="post">

    <table>
        <tr>
            <td>UserName : </td>
            <td><input type="text" asp-for="UserName" /></td>
        </tr>
        <tr>
            <td>Password : </td>
            <td><input type="text" asp-for="Password" /></td>
        </tr>
        <tr>
            <td>  </td>
            <td><button type="submit">Login</button></td>
        </tr>
    </table>
</form>